//New Colors Added
$color-primary: #110F1A !default;
$color-primary-alt: #89192F !default;
$color-secondary: #ffffff !default;
$color-background: #ffffff !default;

$brand-colors: (
  primary: $color-primary,
  primary-alt: $color-primary-alt,
  secondary: $color-secondary,
) !default;

