//New Colors Added
$color-primary: #110F1A;
$color-primary-alt: #89192F;
$color-secondary: #ffffff;

$brand-colors: (
  primary: $color-primary,
  primary-alt: $color-primary-alt,
  secondary: $color-secondary,
);