@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Yeon+Sung&display=swap");
h1 {
  font-family: "Yeon Sung", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 180px;
  margin: 1rem;
}

h2 {
  font-family: "Yeon Sung", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  margin: 1rem;
}

h3, h4 {
  font-family: "Yeon Sung", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  margin: 1rem;
}

p, li, a {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 35px;
  margin: 1rem;
}

blockquote p {
  font-family: "Yeon Sung", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin: 1rem;
}

* {
  cursor: url("../../images/ink-cursor-11.svg"), auto;
}

a,
.page-footer ul li a {
  cursor: url("../../images/ink-cursor-12.svg"), auto;
}

.link-github,
nav li a,
.link-guidelines,
.profile a:last-of-type,
.link-allstyles,
.page-footer p a {
  cursor: url("../../images/ink-cursor-13.svg"), auto;
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: #110F1A;
  position: relative;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  right: -2rem;
  width: 60rem;
  height: 50rem;
  background-image: url("../images/ink-sketches-02.svg");
  background-size: cover;
  background-position: right;
  z-index: -1;
}
header svg {
  width: 2rem;
  margin-top: 3rem;
}
header a {
  color: #110F1A;
  text-decoration: none;
}
header .link-github {
  color: #ffffff;
  padding: 3rem;
  background-image: url(../../images/ink-sketches-08.svg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
header .link-github svg path {
  fill: #ffffff;
}

.skip-link {
  margin: 1rem 1rem;
  color: #110F1A;
  text-decoration: none;
}

nav {
  margin: 8rem 0 3rem 0;
  padding: 8rem 8rem;
  background-image: url(../../images/ink-sketches-09.svg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav a {
  color: #ffffff;
  text-decoration: none;
}

#about {
  position: relative;
}
#about > :first-child {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas: ". h2 h2" ". p1 p1" ". p2 p2" "blockquote blockquote blockquote" "p3 p3 .";
}
#about h2 {
  grid-area: h2;
}
#about .container p:nth-child(2) {
  grid-area: p1;
}
#about .container p:nth-child(3) {
  grid-area: p2;
}
#about .container p:last-child {
  grid-area: p3;
}
#about .container {
  margin-top: 6rem;
}
#about a {
  color: #110F1A;
  text-decoration: none;
}
#about blockquote {
  color: #89192F;
  margin: 16rem 4rem 6rem 4rem;
  grid-area: blockquote;
}
#about blockquote a {
  font-family: "Yeon Sung", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: #89192F;
  border-bottom: solid 4px #89192F;
}
#about ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10rem 20rem;
  color: #ffffff;
  list-style: none;
  background-image: url(../../images/ink-sketches-10.svg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
#about a {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 35px;
  border-bottom: solid 4px #89192F;
}
#about h2::before {
  content: "";
  position: absolute;
  top: 7rem;
  left: 0;
  width: 50rem;
  height: 40rem;
  background-image: url("../images/ink-sketches-01.svg");
  background-size: cover;
  background-position: left;
  z-index: -1;
}
#about p:last-child::after {
  content: "";
  position: absolute;
  top: 53rem;
  right: -3rem;
  width: 50rem;
  height: 40rem;
  background-image: url("../images/ink-sketches-03.svg");
  background-size: cover;
  background-position: right;
  z-index: -1;
}

#guidelines .container {
  margin-top: 6rem;
}
#guidelines a {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 35px;
  border-bottom: solid 4px #89192F;
  color: #110F1A;
  text-decoration: none;
}
#guidelines h3 {
  margin-top: 4rem;
}
#guidelines .link-guidelines {
  border: none;
  color: #ffffff;
  padding: 5rem;
  background-image: url(../../images/ink-sketches-07.svg);
  background-size: cover;
  background-position: center;
  display: block;
  margin-top: 2rem;
  width: 25rem;
  height: 6rem;
  z-index: -1;
}

#contribute {
  position: relative;
}
#contribute a {
  text-decoration: none;
  color: #110F1A;
  border-bottom: solid 4px #89192F;
}
#contribute > :first-child {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
}
#contribute h2 {
  grid-area: 1/2/2/3;
}
#contribute .container p:nth-child(2) {
  grid-area: 2/2/3/3;
}
#contribute .container p:nth-child(3) {
  grid-area: 3/2/4/3;
}
#contribute ol {
  list-style: decimal;
  list-style-type: decimal;
}
#contribute h2::before {
  content: "";
  position: absolute;
  top: -3rem;
  left: 8rem;
  width: 30rem;
  height: 30rem;
  background-image: url("../images/ink-sketches-03.svg");
  background-size: cover;
  background-position: left;
  z-index: -1;
}
#contribute footer {
  margin-top: 6rem;
  border: none;
  color: #ffffff;
  padding: 4rem;
  background-image: url(../../images/ink-sketches-10.svg);
  background-size: cover;
  background-position: center;
}
#contribute footer .container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas: "h3 h3 h3" "a1 a2 a3";
}
#contribute footer h3 {
  grid-area: h3;
}
#contribute footer .container a:nth-child(2) {
  grid-area: a1;
}
#contribute footer .container a:nth-child(3) {
  grid-area: a2;
}
#contribute footer .container a:nth-child(4) {
  grid-area: a3;
}
#contribute footer .container a {
  border: none;
  background-color: #ffffff;
  padding: 3rem 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#styles {
  margin-top: 6rem;
}
#styles h2 {
  text-align: center;
}
#styles ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 30px;
  list-style: none;
}
#styles li {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #89192F;
  border-radius: 1rem;
  padding: 4rem 1rem;
}
#styles li a {
  color: #ffffff;
}
#styles .container > a {
  text-align: center;
  border: none;
  color: #ffffff;
  padding: 3rem;
  margin: 0 auto;
  background-image: url(../../images/ink-sketches-08.svg);
  display: block;
  background-size: cover;
  background-position: center;
  width: 25rem;
  height: 6rem;
  z-index: -1;
}

.profile {
  position: relative;
  margin-top: 6rem;
}
.profile ul {
  list-style: none;
  padding: 0;
}
.profile a {
  text-decoration: none;
  color: #110F1A;
  border-bottom: solid 4px #89192F;
}
.profile .container > a {
  text-align: center;
  border: none;
  color: #ffffff;
  padding: 3rem;
  background-image: url(../../images/ink-sketches-08.svg);
  display: block;
  background-size: cover;
  background-position: center;
  width: 25rem;
  height: 6rem;
  z-index: -1;
}
.profile::after {
  content: "";
  position: absolute;
  top: -10rem;
  right: 10rem;
  width: 60rem;
  height: 50rem;
  background-image: url("../images/ink-sketches-05.svg");
  background-size: cover;
  background-position: right;
  z-index: -1;
}

.page-footer {
  margin-top: 10rem;
  padding: 4rem 1rem;
  text-align: center;
  background-image: url(../../images/ink-sketches-06.svg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.page-footer p {
  color: #ffffff;
}
.page-footer ul {
  list-style: none;
  margin: 6rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.page-footer ul li {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;        /*Vertical alignment in the center*/
  justify-content: flex-start; /*Content aligned to the left*/
  height: 100px;
  padding-left: 20px;
}
.page-footer ul li a {
  color: #110F1A;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  display: flex;              /* Use flexbox for side-by-side layout*/
  align-items: center;        /* Keep the star and text vertically aligned*/
  justify-content: flex-start;
  gap: 10px;                 /* Add space between the text and the star*/
  width: 100%;
}
.page-footer ul li a svg {
  position: relative;
  top: -2px;                 /* Adjust to perfectly align with the text*/
  width: 20px;
  height: 20px;
}
.page-footer p a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: solid 4px #89192F;
}

/*# sourceMappingURL=style.css.map */
