#contribute {

   a {
      text-decoration: none;
      color: $color-primary;
      border-bottom: solid 4px $color-primary-alt;
   }

   //Grid for first container
   & > :first-child {
      display: grid; 
      grid-template-columns: 1fr 2fr; 
      grid-template-rows: auto auto auto; 
      gap: 0px 0px; 
   }

   h2 {
      grid-area: 1/2/2/3;
   }

   .container p:nth-child(2) {
      grid-area: 2/2/3/3;
   }

   .container p:nth-child(3) {
      grid-area: 3/2/4/3;
   }

   //Second Container
   ol {
      list-style: decimal;
      list-style-type: decimal;
   }

   //Background Images
   position: relative;

   & h2::before {
      content: "";
      position: absolute;
      top: -3rem;
      left: 8rem;
      width: 30rem;
      height: 30rem;
      background-image: url("../images/ink-sketches-03.svg");
      background-size: cover;
      background-position: left;
      z-index: -1;
   }

   //Footer
   footer {
      margin-top: 6rem;

      .container {
         text-align: center;
         display: grid; 
         grid-template-columns: 1fr 1fr 1fr; 
         grid-template-rows: auto auto; 
         gap: 0px 0px; 
         grid-template-areas: 
            "h3 h3 h3"
            "a1 a2 a3"; 
      }

      h3 {
         grid-area:h3
      }

      .container a:nth-child(2) {
         grid-area: a1;
      }

      .container a:nth-child(3) {
         grid-area: a2;
      }

      .container a:nth-child(4) {
         grid-area: a3;
      }

      .container a{
         border: none;
         color: $color-secondary;
         padding: 4rem;
         background-image: url(../../images/ink-sketches-10.svg);
         background-size: 200% 200%;
         background-position: center;
         background-repeat: no-repeat;
         display: block;
         margin-top: 2rem;
         z-index: -1;
         border-radius: 2rem;
      } //CONSIDER CHANGING
   }

}