#guidelines {
   
   .container {
      margin-top: 6rem;
   }

   & a {
      @include paragraph-font(35px);
      border-bottom: solid 4px $color-primary-alt;
      color: $color-primary;
      text-decoration: none;
   }

   h3 {
      margin-top: 4rem;
   }

   .link-guidelines {
      border: none;
      color: $color-secondary;
      padding: 5rem;
      background-image: url(../../images/ink-sketches-07.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      margin-top: 2rem;
      width: 25rem;
      height: 6rem;
      z-index: -1;
      transition: background-size 0.3s ease-in-out;
   }

   * {
      @include small-screen;
     
   }


   @media (max-width: 550px) {
      * {
         font-size: 125%;
      }


      margin-top: 670px;


      a {
         font-size: 100%;
         margin: auto -1px; //removed the extra gap between the p and a text
      }


      a:after {
         max-width: 100%;
      }
   }
}