header {
   @include two-grid-left;
   color: $color-primary;
   position: relative;

   &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -2rem;
      width: 60rem;
      height: 50rem;
      background-image: url("../images/ink-sketches-02.svg");
      background-size: cover;
      background-position: right;
      z-index: -1;
   }

   svg {
      width: 2rem;
      margin-top: 3rem;
   }

   a {
      color: $color-primary;
      text-decoration: none;
   }

   .link-github {
      color: $color-secondary;
      padding: 3rem;
      background-image: url(../../images/ink-sketches-08.svg);
      background-size: cover;
      background-position: center;
      z-index: -1;
   }

   .link-github svg path {
      fill: $color-secondary;
   }
}

.skip-link {
   margin: 1rem 1rem;
   color: $color-primary;
   text-decoration: none;
}

//MOVE .SKIP-LINK DOWN A BIT