header {
   display: grid;
   grid-template-columns: 9fr 10fr;
   color: $color-primary;
   position: relative; /* Ensure positioning context for ::after */

   &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -2rem;
      width: 60rem;
      height: 50rem;
      background-image: url(https://echlarson.github.io/WDD331StyleStage/images/ink-sketches-02.svg);
      background-size: auto 100%; /* Maintain aspect ratio with full height */
      background-position: right calc(100% - 100%) top; /*Pin background image to top-right*/
      background-repeat: no-repeat;
      z-index: -1;
   }

   @media (max-width: 1250px) {
      display: block;
      text-align: center;
      position: relative;
      margin-bottom: -220px;
  
      &::after {
         bottom: 12rem;
         left: 48%; /* Horizontally center the background image */
         transform: translateX(-50%) translateY(64%);
         background-size: contain;
         background-position: center bottom; /* Pin background image to bottom-left */

         @media (max-width: 830px) {
            width: 40rem;
            height: 35rem;
            top: 105%;
            transform: translateX(-50%);
         }
      }
   }

   svg {
      width: 2rem;
      margin-top: 3rem;
   }

   a {
      color: $color-primary;
      text-decoration: none;
   }

   .link-github {
      color: $color-secondary;
      padding: 3rem;
      background-image: url(https://echlarson.github.io/WDD331StyleStage/images/ink-sketches-08.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
      transition: background-size 0.3s ease-in-out;
   }

   .link-github svg path {
      fill: $color-secondary;
   }

   @include small-screen;

   @media (max-width: 550px) {
      h1 {
         margin: 20px;
      }

      &::after {
         width: 32rem;
         height: 28rem;
         left: 51%;
      }
   }
}

.skip-link {
   margin: 1rem 1rem;
   color: $color-primary;
   text-decoration: none;
}

//MOVE .SKIP-LINK DOWN A BIT