nav {
   margin: 8rem 0 3rem 0;
   padding: 8rem 8rem;

   background-image: url(../../images/ink-sketches-09.svg);
   background-size: cover;
   background-position: center;
   z-index: -1;

   & ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
   }

   a {
      color: $color-secondary;
      text-decoration: none;
   }

   @include small-screen;

   @media (max-width: 768px) {
      ul {
         padding-left: 0px;
         display: block;
         text-align: center;
      }
   }
}

//ADD ANIMATION AND HOVER EFFECTS!